<div class="card-body text-center mt-5">
    <p> <small>¿Quiénes somos?</small></p>
    <h2 class="card-title">Nuestro equipo</h2>
</div>
<div class="container">
    <div class="row mt-5 pt-5">
        <div>
            <div class="row  justify-content-center">
                <div class="col-md-3">
                    <img src="../../../assets/equipo/soledad.png" class="card-img" alt="...">
                    <h6 class="mt-4">Soledad López</h6>
                    <p> <small>Socióloga y Docente UBA</small> </p>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text">Soy Socióloga y Profesora en Sociología por la Universidad de Buenos Aires. Trabajé como docente en una escuela secundaria comunitaria donde participé en la construcción de una Consejería de Acompañamiento en Situaciones de Violencia de Género.</p>
                        <p class="card-text"><small class="text-muted">Me desempeñé varios años en el diseño de indicadores de evaluación y monitoreo de políticas públicas. Esta experiencia me permitió conocer de cerca los procesos de diseño de los instrumentos de recolección de datos. Y, al mismo tiempo, comenzar a cuestionarme cómo se construyen los datos para visibilizar la desigualdad de género. A raíz de esta inquietud decidí continuar mi formación en el Máster de Sociología Aplicada de la Universidad de Málaga, España.</small></p>
                        <button type="button" class="btn btn-outline-primary">Ver mas</button>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5 pt-5">
        <div>
            <div class="row  justify-content-center">
                <div class="col-md-6">
                    <div>
                        <p class="card-text">Soy Politóloga y Doctora en Ciencias Sociales por la Universidad de Buenos Aires.  Fui becaria del Consejo Nacional de Investigaciones Científicas y Tecnológicas (CONICET) e investigué sobre salud laboral y conflictividad. Soy docente de nivel terciario de relaciones laborales y  riesgos psicosociales del trabajo.</p>
                        <p class="card-text"><small class="text-muted">En mi carrera profesional, me dediqué a la formulación de políticas públicas en las áreas de educación y formación ciudadana. Trabajé con sindicatos, organizaciones sociales y durante mi vida de estudiante me desempeñé en empresas multinacionales de transporte y tecnología. 
                        </small></p>
                        <button type="button" class="btn btn-outline-primary">Ver mas</button>

                    </div>
                </div>
                <div class="col-md-3">
                    <img src="../../../assets/equipo/sara.png" class="card-img" alt="...">
                    <h6 class="mt-4">Sara Cufré</h6>
                    <p> <small>Politóloga y Doctora en Ciencias Sociales UBA.</small> </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 pt-5">
        <div>
            <div class="row  justify-content-center">
                <div class="col-md-3">
                    <img src="../../../assets/equipo/vanesa.png" class="card-img" alt="...">
                    <h6 class="mt-4">Vanesa García</h6>
                    <p> <small>Socióloga UBA</small> </p>
                </div>
                <div class="col-md-6">
                    <div>
                        <p class="card-text">Soy Socióloga por la Universidad de Buenos Aires. Al finalizar la carrera sentí la necesidad de formarme en los temas ligados a la temática género. Actualmente estoy realizando una Especialización en Estudios y Políticas de Género en la Universidad de Tres de Febrero.</p>
                        <p class="card-text"><small class="text-muted">Trabajé en múltiples organismos públicos como desarrolladora y evaluadora de proyectos de impacto social. Formé distintos equipos multidisciplinarios donde aprendí a trabajar con personas de diversa formación, trayectoria y perspectiva. Esta experiencia también me llevó a identificar el rol que juegan los estereotipos de género en las relaciones laborales. 
                        </small></p>
                        <p class="card-text" *ngIf = 'mostrar'><small class="text-muted">Pensando en el mundo del trabajo actual, me empecé a preguntar ¿Cómo se pueden visibilizar las brechas de género al interior de cada organización? ¿Cómo es posible generar herramientas de medición y monitoreo que les sirvan para el seguimiento de los objetivos de mayor equidad? Así, decidí comenzar con el proyecto que hoy es GénerActiva para volcar mi formación a la creación de herramientas de relevamiento y análisis específicas para cada organización con la que trabajamos.  
                        </small></p>
                        <button type="button" (click)='mostrar = !mostrar' class="btn btn-outline-primary">Ver mas</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="bg-violet container-fluid py-5">
    <div class="text-center">
        <p> <small>Contacto</small></p>
        <h3 class="card-title">¡Trabajemos en equipo! Déjanos tu mail y en breve nos pondremos en contacto con vos.</h3>
          <form>
            <div class="form-row  justify-content-center">
              <div class="col-sm-3 my-3 text-left">
                <label for="inputEmail4"><small>Email</small></label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="sofiamartinez234@gmail.com">
              </div>
              <div class="col-auto my-5">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </div>
          </form>
</div>
</div>