.bg-violet{
    background: rgba(215,189,246,1);
background: -moz-linear-gradient(top, rgba(215,189,246,1) 0%, rgba(186,127,253,1) 50%, rgba(198,145,255,1) 100%);
background: -webkit-linear-gradient(top, rgba(215,189,246,1) 0%, rgba(186,127,253,1) 50%, rgba(198,145,255,1) 100%);
background: -o-linear-gradient(top, rgba(215,189,246,1) 0%, rgba(186,127,253,1) 50%, rgba(198,145,255,1) 100%);
background: -ms-linear-gradient(top, rgba(215,189,246,1) 0%, rgba(186,127,253,1) 50%, rgba(198,145,255,1) 100%);
background: linear-gradient(to bottom, rgba(215,189,246,1) 0%, rgba(186,127,253,1) 50%, rgba(198,145,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7bdf6', endColorstr='#c691ff', GradientType=0 );
}
