<div class="bg-rosa-claro">
  <div class="container">
    <div class="card-body text-center pt-6">
      <p class="top-title pt-3">  <small>¿QUÉ HACEMOS?</small></p>
        <h2 class="card-title">Diseñamos estrategias para la igualdad de oportunidades y de trato </h2>
        <p>Trabajamos con organizaciones sociales, deportivas, económicas y políticas.
        </p>
      </div>
  </div> 
  <div class="container">
    <div class="row justify-content-center global-margin pt-5">
        <div class="col-12 col-md-4 text-center mb-4">
        <img class="img-fluid" src="../../../assets/que-hacemos/asesoramiento.svg" width="98px" height="98px" alt="">
        <h5 class="quehacemos-title mt-3">Asesoramiento </h5>
        <p> Realizamos consultorías para aquellas organizaciones que quieren adoptar un enfoque de género en sus políticas.</p>
        </div>
        <div class="col-12 col-md-4 text-center mb-4">
        <img class="img-fluid" src="../../../assets/que-hacemos/formacion.svg" width="98px" height="98px" alt="">
        <h5 class="quehacemos-title mt-3">Formación</h5>
        <p> Brindamos capacitaciones sobre<br> género y trabajo.</p>
        </div>
        <div class="col-12 col-md-4 text-center mb-4">
        <img class="img-fluid" src="../../../assets/que-hacemos/herramientas.svg" width="98px" height="98px" alt="">
        <h5 class="quehacemos-title mt-3">Herramientas </h5>
        <p> Generamos instrumentos para promover espacios de trabajo libres de violencia y discriminación.</p>
        </div>
    </div>
</div>
</div>
<div class="bg-rosa">
  <div class="container">
    <div class="row global-margin margin-porquelohacemos">
      <div class="col-12 col-md-5  mt-5">
          <div class="card-body mt-5">
              <h3 class="card-title">¿Por qué lo hacemos? </h3>
              <p class="card-text">Partimos de un principio transversal de los Derechos Humanos que sostiene que las personas tenemos derecho a una vida libre de violencias.
               <br><br> Adoptamos un enfoque inclusivo que visibiliza  las desigualdades sociales y los estereotipos de género que dan origen a las múltiples formas de discriminación.
               <br><br> Somos creadoras de iniciativas que contribuyen a  la eliminación de la violencia laboral y la violencia de género en el trabajo. Queremos promover organizaciones más justas e igualitarias.</p>
            </div>
        </div>
        <div class="col-12 col-md-7">
          <img class="img-fluid" src="../../../assets/como-hacemos/04.png" alt="Generactiva">
        </div>
  </div>
  </div>
</div>
<app-formulario-mail></app-formulario-mail>