<div class="bg-rosa-claro">
  <div class="container">
    <div class="card-body text-center pt-6">
      <p class="top-title pt-3">  <small>¿QUE HACEMOS?</small></p>
        <h2 class="card-title">Diseñamos estrategias para la igualdad
          de oportunidades y de trato </h2>
        <p>Trabajamos con organizaciones sociales, deportivas, económicas y políticas.
        </p>
      </div>
  </div> 
  <div class="container">
    <div class="row justify-content-center global-margin pt-5">
        <div class="col-12 col-md-4 text-center mb-4">
        <img class="img-fluid" src="../../../assets/que-hacemos/asesoramiento.svg" width="98px" height="98px" alt="">
        <h5 class="quehacemos-title mt-3">Asesoramiento </h5>
        <p> <small>Realizamos consultorías para aquellas organizaciones sociales, económicas y políticas que quieren adoptar una perspectiva de género. </small></p>
        </div>
        <div class="col-12 col-md-4 text-center mb-4">
        <img class="img-fluid" src="../../../assets/que-hacemos/formacion.svg" width="98px" height="98px" alt="">
        <h5 class="quehacemos-title mt-3">Formación</h5>
        <p> <small>Brindamos capacitaciones y talleres de sensibilización para visibilizar las formas de violencia y los instrumentos para abordarlas.  </small></p>
        </div>
        <div class="col-12 col-md-4 text-center mb-4">
        <img class="img-fluid" src="../../../assets/que-hacemos/herramientas.svg" width="98px" height="98px" alt="">
        <h5 class="quehacemos-title mt-3">Herramientas </h5>
        <p> <small> Generamos  recursos para que las organizaciones consoliden una cultura organizacional basada en los principios de equidad y no discriminación.</small></p>
        </div>
    </div>
</div>
</div>
<div class="bg-rosa">
  <div class="container">
    <div class="row global-margin margin-porquelohacemos">
      <div class="col-12 col-md-5 pt-5 mt-5">
          <div class="card-body">
              <h3 class="card-title">¿Por qué lo hacemos? </h3>
              <p class="card-text">Nosotras partimos de un principio transversal de los Derechos Humanos que sostiene que las personas tenemos derecho a una vida libre de violencias.</p>
               <p>Adoptamos un enfoque inclusivo que visibiliza  las desigualdades sociales y los estereotipos de género que dan origen a las múltiples formas de discriminación.</p>  
            </div>
        </div>
        <div class="col-12 col-md-7">
          <img class="img-fluid" src="../../../assets/como-hacemos/04.png" alt="Generactiva">
        </div>
  </div>
  </div>
</div>
<app-formulario-mail></app-formulario-mail>