
.bg-rosa{
    background-color: #F0EBF9;
}

.bg-rosaOscuro{
    background-color: #DED7EB;}


.btn-violeta2{
    border-radius: 2em;
    background-color: #3E0C8E;
    padding: 5px 30px;
    color: #fff;
}

.boton-2{
    color: #3E0C8E;
    font-weight: 700;
    margin-top: 20px !important;
}

.boton-2:hover{
   color: #A88BD8; 
   border: none;
}

.servicios-body{
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0rem 1.25rem;
}

.servicios-text{
    margin-top: 0 !important;
}

