<div class="container-fluid">
    <div class="row global-margin global-margin-top">
      <div class="col-12 col-md-5 pb-mobile pt-lg-7">
        <div class="card-body">
            <h3 class="card-title">¿Buscás asesoramiento para adoptar políticas de equidad de género en tu organización?</h3>
            <p class="card-text">En Géneractiva podemos brindarte asesoría para tratar temas relacionados a lo laboral y al género. </p>
            <button class="btn btn-sm btn-violeta"  routerLink="/Inicio/formulario" type="button"> Quiero saber más </button>
        </div>    
    </div>
    <div class="col-12 col-md-7">
      <img class="img-fluid" src="../../../assets/home/01.jpg"  width="100%"  heigh ="auto" alt="Generactiva">
    </div>
  </div>
</div>  

<div class="bg-rosa">
  <div class="container">
    <div class="row  global-margin global-margin-top">
      <div class="col-12 col-md-6 pb-mobile">
        <img class="img-fluid" src="../../../assets/home/02.png"  width="100%"  heigh ="auto" alt="Generactiva">
      </div>
      <div class="col-12 col-md-6">
          <div class="card-body">
              <p class="top-title">  <small>¿QUÉ HACEMOS?</small></p>
              <h3 class="card-title">Acompañamos a las organizaciones que quieren adoptar políticas de igualdad de trato y oportunidades desde una perspectiva de género. </h3>
              <p class="card-text">La creciente visibilización de las desigualdades de género mueve 
                a diversos actores sociales hacia la búsqueda de mayor equidad. 
               <br><br> Elaboramos estrategias para promover espacios laborales libres 
                de violencia y discriminación.
                </p>
                <button class="btn btn-sm btn-violeta" routerLink="/QueHacemos" type="button"> Quiero saber más </button>
            </div>
        </div>
  </div>
  </div>
</div>
<div class="container">
  <div class="global-margin-top">
    <div class="row">
      <div class="col-12">
        <div class="card-body">
          <p class="top-title"><small>¿CÓMO LO HACEMOS?</small></p>
            <h3 class="card-title">Trabajamos de manera personalizada según las necesidades de cada institución</h3>
          </div>    
    </div>
    </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="servicios-body">
        <p class="card-text servicios-text">Podemos ofrecerte distintos servicios que se 
          ajustan a las posibilidades y recursos disponibles 
          de tu organización.
          </p>
          <button class="btn btn-sm btn-violeta" routerLink="/ComoTrabajamos" type="button"> Quiero saber más </button></div>
      </div>
    <div class="col-12 col-md-6">
      <ul class="list-unstyled"> 
        <li> <img class="img-fluid" src="../../../assets/home/Rectángulo 32.svg" alt="" width="12px" height="auto">  Planes integrales de igualdad de oportunidades y trato con perspectiva de género.
        </li>
        <li> <img class="img-fluid" src="../../../assets/home/Rectángulo 32.svg" alt="" width="12px" height="auto">   Capacitaciones y jornadas de formación para organizaciones.</li>
        <li> <img class="img-fluid" src="../../../assets/home/Rectángulo 32.svg" alt="" width="12px" height="auto">  Talleres de sensibilización para grupos específicos.</li>
      </ul>
      <a class="boton-2" routerLink="/ComoTrabajamos" routerlink>Todos nuestros servicios  <img src="../../../assets/home/Path.svg" alt=""></a>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row global-margin-top">
    <div class="col-12 col-md-6 pb-mobile">
      <img class="img-fluid" src="../../../assets/home/03.jpg" alt="Generactiva">
    </div>
    <div class="col-12 col-md-6">
        <div class="card-body">
            <p class="top-title">  <small>¿ QUIÉNES SOMOS ?</small></p>
            <h3 class="card-title"> Somos un equipo con formación en género, trabajo y derechos humanos </h3>
            <p class="card-text">Confluimos desde recorridos previos en investigación, docencia 
              e implementación de políticas públicas. Nuestras experiencias profesionales están forjadas al calor del movimiento feminista que motiva el profundo compromiso con el que hacemos 
              nuestro trabajo.           
              </p>
              <button class="btn btn-sm btn-violeta" routerLink="/Inicio/formulario" type="button"> Quiero saber más </button>
          </div>
      </div>
</div>
</div>
<div class="container">
<app-formulario-php></app-formulario-php>
</div>

