<div class= "bg-azulOscuro container-fluid">
    <div class="row">
     <div class="col-12 col-md-4">
         <p class="creditos-text text-center"><b>Programación:</b> Macarena Tapia <a href="https://www.linkedin.com/in/macarena-lucia-tapia-arrigoni/" target="blanck">LinkedIn</a></p>
     </div>
     <div class="col-12 col-md-4 text-center">
        <p class="creditos-text"><b>Diseño web:</b> Leila Valdez Svaldi <a href="http://www.linkedin.com/in/leilavaldezsvaldi" target="blank">LinkedIn</a> | <a href="http://leilavaldezsvaldi.myportfolio.com/" target="blank"> Work</a></p>
     </div>
     <div class="col-12 col-md-4">
        <p class="creditos-text text-center"> <b>Ilustraciones:</b> Fiona Lena Brown IG <a href="https://www.instagram.com/fionalenabrown/" target="blank">@fionalenabrown</a></p>
     </div>
    </div>
</div>