<div class="container pt-6 pb-5">
    <div class="card-body text-center">
        <h2 class="card-title">¿Cómo trabajamos?</h2>
    </div>
</div>
<div class="container global-margin">
    <div class="row">
        <div class="col-12 col-md-6 mb-5">
            <div class="text-center"><img src="../../../assets/como-hacemos/formacion-experiencia.svg" width="93px" height="93px"
                    alt="formacion-experiencia">
            </div>
            <h5 class="como-title mt-3 text-center">Formación y experiencia </h5>
            <p> <small>Nos respalda una formación de excelencia y la confluencia de recorridos profesionales diversos.
                    Nuestra experiencia en organizaciones públicas, privadas y del tercer sector nos permite comprender
                    la cultura de cada institución y analizarla en su complejidad.</small></p>
        </div>
        <div class="col-12 col-md-6 mb-5">
            <div class="text-center"><img class="text-center" src="../../../assets/como-hacemos/personalizacion.svg"
                    width="93px" height="93px" alt="personalizacion">
            </div>
            <h5 class="como-title mt-3 text-center">Personalización</h5>
            <p> <small>Diseñamos propuestas específicas que responden a las demandas de cada organización. <br>
                    Partimos de un diagnóstico de necesidades para elaborar productos acordes a las posibilidades y
                    requerimientos de cada espacio donde intervenimos.
                </small></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mb-4">
            <div class="text-center"><img src="../../../assets/como-hacemos/compromisosyvalores.svg" width="93px" height="93px"
                    alt="compromisosyvalores">
            </div>
            <h5 class="como-title mt-3 text-center">Compromiso y valores </h5>
            <p> <small>Tenemos un profundo compromiso con lo que hacemos. Llevamos adelante nuestro trabajo con la
                    mirada puesta en un principio fundamental: el derecho humano a una vida libre de violencias.
                </small></p>
        </div>
        <div class="col-12 col-md-6 mb-4">
            <div class="text-center"><img class="text-center" src="../../../assets/como-hacemos/genero.svg"
                    width="93px" height="93px" alt="genero">
            </div>
            <h5 class="como-title mt-3 text-center">El foco es el género</h5>
            <p> <small>Trabajamos desde una perspectiva de género que permite visibilizar desigualdades entre las
                    personas, según su género y su orientación sexual. Creemos que identificar las desigualdades de
                    género en el mundo del trabajo es fundamental para avanzar en la eliminación de todas las formas de
                    discriminación contra las mujeres y las personas LGBTQ+.
                </small></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row global-margin">
      <div class="col-12 col-md-6">
        <div class="card-body">
            <h3 class="card-title">Nuestros servicios</h3>
            <p class="card-text">Consultorías para diagnosticar las necesidades de la organización y elaborar un plan de acción a medida que puede incluir: </p>
           <ul class="list-unstyled">
               <li> <img class="img-fluid" src="../../../assets/home/Rectángulo 32.svg" alt="">Planes integrales de igualdad de oportunidades y trato con perspectiva de género.</li>
               <li> <img class="img-fluid" src="../../../assets/home/Rectángulo 32.svg" alt="">Capacitaciones y jornadas de formación para organizaciones.
            </li>
               <li> <img class="img-fluid" src="../../../assets/home/Rectángulo 32.svg" alt="">Talleres de sensibilización para grupos específicos.
            </li>
           </ul>
          </div>    
    </div>
    <div class="col-12 col-md-6">
    </div>
  </div>
  </div>
      <div class="container global-margin">
      <div class="row">
          <div class="col-12 col-md-4">
              <div class="row px-5">
                <p class="mt-4">Elaboración y seguimiento 
                    de <b>políticas institucionales</b> de equidad. <b>Comunicaciones</b> inclusivas.</p>
                 <p class="mt-4"><b>Capacitaciones</b>sobre 
                    género y trabajo. Jornadas de sensibilización. Talleres de masculinidades.
                    </p>
              </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="my-3 text-center">
                <img src="../../../assets/como-hacemos/grafico.svg">
              </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="row px-5">
              <p class="mt-4">Elaboración y seguimiento 
                  de <b>políticas institucionales</b> de equidad. <b>Comunicaciones</b> inclusivas</p>
               <p class="mt-4"><b>Capacitaciones</b>sobre 
                  género y trabajo.Jornadas de sensibilización.Talleres de masculinidades.
                  </p>
            </div>
        </div>
      </div>
  </div>
  <div class="container">
    <div class="card-body text-center">
        <h2 class="card-title">¿Cómo impactan estas herramientas las organizaciones?
        </h2>
    </div>
    <div class="row justify-content-center text-center px-5">
        <div class="col-12 col-md-4 mb-5 ">
        <img src="../../../assets/como-hacemos/manos.svg" width="113px" height="113px" alt="">
        <p class="mt-4"> <small>Contribuyen a fortalecer espacios de trabajo respetuosos e igualitarios donde las personas se sienten sean valoradas por sus capacidades y sus aportes.
        </small></p>
        </div>
        <div class="col-12 col-md-4 mb-5 px-5">
        <img src="../../../assets/como-hacemos/cabeza.svg" width="113px" height="113px" alt="">
        <p class="mt-4"> <small>Reducen los riesgos psicosociales del trabajo derivados de las relaciones interpersonales y del clima laboral, lo cual favorece la permanencia de las personas en los equipos de trabajo.
        </small></p>
        </div>
        <div class="col-12 col-md-4 px-5">
        <img src="../../../assets/como-hacemos/caras.svg" width="113px" height="113px" alt="">
        <p class="mt-4">  <small> Generan un efecto multiplicador hacia pares y actores externos más allá de las fronteras institucionales.
        </small></p>
        </div>
    </div>
</div>
<img class="img-fluid esquina" src="../../../assets/como-hacemos/esquina.svg" alt="">
<div class="bg-rosaOscuro py-7">
    <div class="card-body text-center">
      <h3 class="card-title">¡Trabajemos en equipo!</h3>
      <p>Dejanos tu mail y en breve nos pondremos en contacto con vos.</p>
        <form>
          <div class="form-row  justify-content-center">
            <div class="col-sm-3 text-left">
              <input type="email" class="form-control" placeholder="Ingresa tu Email aqui">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-violeta2">Enviar</button>
            </div>
          </div>
        </form>
    </div>
  </div>