.como-title{
    font-size: 24px;
    color: #3E0C8E;
 font-family: 'raleway';
 font-weight: 700;
}

.esquina{
    height: 180px;
}


.servicios div  {
    font-size: 14px;
     }


.texto-grafico{
    font-size: 14px !important;
}     
    