<div class= "bg-azul container-fluid">
    <div class="row pt-4 pb-4 justify-content-sm-center">
        <div class="col-12 col-lg-6">
            <div><p class="type-logo">GENER<b>ACTIVA</b> </p></div>
            <div> <p class="footer-sub"> Trabajo y equidad en accion</p></div>
          </div>
        <div class="col-12 col-lg-6">
            <ul class="nav justify-content-lg-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">¿Qué hacemos?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">¿Cómo trabajamos?</a>
                </li>
            </ul>
        </div>
    </div>
</div>