
.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
 }
 
 .navbar-toggler.collapsed .close-icon {
    display: none;
}
 
.nav-link{
    color:#3E0C8E !important;
    font-weight: 600;
    font-size: 16px;
}

.nav-link:hover{
    color: #A88BD8!important;
}

.active-link{
    color:#A88BD8!important;
}

.btn-violeta{
    background-color: #3E0C8E;
    color: #fff;
    border-radius: 3em;
    padding: 5px 30px;
}

.btn-violeta:hover{
    background-color: #A88BD8;
}

.btn-violeta:active{
    background-color: #A88BD8;
}

/* logos */


.logo1{
 width: 210px;
}

.conjunto-logo{
padding-left: 2rem;
}


@media (max-width: 575.98px){

    .logo{
        width: 100px;
    }
    .logo1{
        width: 150px;
       }

       .logo2{
        width: 150px;
    }   


    .conjunto-logo{
padding-left: 2rem;
}


}

@media (min-width: 992px){

    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
        };

        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right:  2rem !important;
            padding-left: 2rem !important;
        }

        .logo2{
            padding-left: 6px;
        }
        
}



