<nav class="navbar fixed-top  navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="#">
        <div class="logos-mobile">
            <img  src="../../../assets/iso.svg" class="d-inline-block align-top logo" alt="generactiva">
            <div class="d-inline-block align-top">
                <div class="col conjunto-logo">
                    <img class="row logo1" src="../../../assets/logo_.jpg"  alt="generactiva"> 
                    <img class="row pt-1 logo2" src="../../../assets/sublogo.svg"  alt="generactiva">
                </div>
            </div>
        </div>
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <div class="close-icon py-1">✖</div>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav align-right">
            <li class="nav-item mt-1 mr-3">
                <a class="nav-link "  routerLink="QueHacemos" routerLinkActive="active-link">¿Qué hacemos? <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mt-1 mr-3">
                <a class="nav-link" routerLink="ComoTrabajamos" routerLinkActive="active-link">¿Cómo trabajamos?</a>
            </li>
            <form class="form-inline nav-link">
                <button class="btn btn-sm  btn-violeta" type="button"  routerLink="Inicio/formulario"> ¡Hablemos!</button>
            </form>
        </ul>
    </div>
</nav>